.slideshow-wrapper {
	display: block;
	margin: 0 0 10px 0;
}

.showloader {
	background: url(../img/ajax-loader.gif) no-repeat center center
}

.showloader .portfolio-slideshow, .showloader .slideshow-nav, .showloader .pager {
	visibility: hidden;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

* html .clearfix {
	zoom: 1
}

*:first-child+html .clearfix {
	zoom: 1
}

.slideshow-wrapper .inactive {
	opacity: .2;
	filter: alpha(opacity=0);
	cursor: default
}

.slideshow-wrapper p {
	margin: 10px 0!important
}

.slideshow-content img {
	margin: 0!important;
	border: none!important;
	padding: 0!important;
	max-width: none!important
}

.fluid .slideshow-content img {
	max-width: 100%!important;
	width: auto;
	height: auto
}

.portfolio-slideshow {
	margin: 10px 0 0;
	z-index: 1!important;
	clear: both
}

.slideshow-content {
	width: 100%;
	margin: 0 0 7px 0;
}

.slideshow-nav {
	margin-top: 5px;
	overflow: visible;
	line-height: 15px;
	height: 17px
}
.slideshow-wrapper a.hide {
	display: none
}

.slideshow-wrapper a.hide.active {
	display: inline-block
}

.pager {
	clear: both
}

.slideshow-nav a {
	text-decoration: none;
	color: #444
}

.slideshow-nav a:hover, .slideshow-nav a:focus{
	text-decoration: underline;
}

.slideshow-nav a.pause,.slideshow-nav a.play,.slideshow-nav a.restart,.slideshow-nav a.new {
	margin: 0 15px 0 0
}

.slideshow-nav a.slideshow-prev {
	margin: 0 10px 0 0
}

.slideshow-nav a.slideshow-next {
	margin: 0 20px 0 10px
}

.slideshow-wrapper .not-first {
	display: none
}

.slideshow-wrapper .pager {
	margin: 10px 0;
}

.slideshow-wrapper .pager img {
	opacity: .5;
	filter: alpha(opacity=50);
	border: none!important;
	padding: 0 10px 10px 0;
	margin: 0;
	float: left;
	width: 75px;
	height: auto
}

.slideshow-wrapper .pager img.activeSlide {
	opacity: 1;
	filter: alpha(opacity=100)
}

.slideshow-wrapper .pager img:hover {
	cursor: pointer
}

.slideshow-info {
	font-size: .9em;
	margin-right: 20px
}